@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

// ------------------ Color variables -----------------------
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

// ------------------ global styles -----------------------
* {
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  color: $very-dark-grayish-blue;
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  font-weight: 500;
  color: $desaturated-dark-blue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
  background: $light-grayish-blue;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  position: relative;
}

// ------------------ Component styles -----------------------

.component {
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;

  .content {
    background: white;
    width: 60%;
    padding: 2rem 1.8rem 1.2rem 1.8rem;

    h2 {
      margin-top: 0;
    }
  }

  .image {
    width: 40%;
    background: url("./images/drawers.jpg") no-repeat center / cover;

    img {
      display: none;
    }
  }

  .user {
    align-items: center;
    margin-top: 1.5rem;

    .info {
      align-items: center;

      .avatar {
        border-radius: 50%;
        width: 2.8rem;
        height: 2.8rem;
      }

      .name {
        margin-left: 1rem;
        h3,
        p {
          margin: 0;
          font-size: 0.8rem;
        }

        h3 {
          font-size: 0.85rem;
          letter-spacing: 0.5px;
        }
      }
    }

    .share {
      background: $light-grayish-blue;
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.1s ease-out all;

      .light {
        display: none;
      }

      &:hover,
      &:active {
        background-color: $desaturated-dark-blue;
        .light {
          display: block;
        }
        .dark {
          display: none;
        }
      }
    }

    .social {
      position: absolute;
      background: $very-dark-grayish-blue;
      padding: 0.1rem 2.3rem;
      border-radius: 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      top: 8.5rem;
      right: -6rem;
      box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
      display: none;
      opacity: 0;
      transform: translateY(2rem);
      transition: 0.2s ease-out all;

      &.show {
        opacity: 1;
        transform: translateY(0);
        display: flex;
      }

      &::after {
        content: "";
        position: absolute;
        top: 3rem;
        right: 43%;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $very-dark-grayish-blue;
      }

      p {
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9rem;
        color: $grayish-blue;
        letter-spacing: 4px;
      }

      .icons {
        padding-left: 0;
        align-items: center;
        justify-content: space-around;

        li {
          margin-left: 1.1rem;
          a {
            padding: 0.3rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .flex {
    flex-direction: column;
  }

  .component {
    .image {
      width: 100%;

      img {
        display: block;
      }
    }

    .content {
      width: 100%;
      position: relative;

      h2 {
        font-size: 1.1rem;
        line-height: 1.5em;
        letter-spacing: 0.3px;
      }

      p {
        line-height: 1.5em;
        letter-spacing: 0.5px;
      }
    }

    .user {
      flex-direction: row;
      .info {
        flex-direction: row;
      }

      .share {
        z-index: 100;
        width: 2rem;
        height: 2rem;
        &:hover,
        &:active {
          background-color: $desaturated-dark-blue;
        }
      }

      .social {
        position: absolute;
        background: $very-dark-grayish-blue;
        padding: 0;
        border-radius: initial;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        justify-content: flex-start;
        top: 15rem;
        height: 4.5rem;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;

        &::after {
          display: none;
        }

        p {
          color: white;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 0.9rem;
          color: $grayish-blue;
          letter-spacing: 4px;
          margin-left: 2rem;
        }

        .icons {
          flex-direction: row;
          padding-left: 0;
          align-items: center;
          justify-content: space-evenly;

          li {
            margin-left: 1.1rem;
            a {
              padding: 0rem;
            }
          }
        }
      }
    }
  }
}
